@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

#root{
    padding: 0;
    margin: 0;
}
#root .container{
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    align-items: center;

}
body {
    display: flex;
    width: 100%;
    height: 100%;
}  
.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
}

.title {
    margin-top: 100px;
}

.subtitle {
    font-size: 3.5rem;
    margin-top: 10px;
    font-weight: lighter;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FDC913;
    color: black;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: #ffdb4d;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    z-index: -1;
}

@media (max-width: 768px) {
    .container {
        align-items: center;
        text-align: center;
    }
    .title {
        font-size: 0.8rem;
        margin-top: 30%;
    }
    
    .subtitle {
        font-size: 3.5rem;
        font-family: Quattrocento;
        margin-top: 0.5rem;
    }
    
    .background-image {
        object-fit: cover;
    }
}

