@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    box-sizing: border-box;
}
#root .siparis-formu{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
}

.siparis-formu{
    display: flex;
    flex-direction: column;
}
.siparis-header{
    display: flex;
    width: 100%;
    background-color: #CE2829;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.pizza-container {
    width: 550px;
}

.pizza-title {
    font-size: 26px;
    font-weight: bold;
    text-align: left;
}

.pizza-price {
    font-size: 22px;
    color: black;
    font-weight: bold;
    text-align: left;
}

.pizza-description {
    font-size: 14px;
    text-align: left;
}

.pizza-section {
    display: flex;
    width: 100%;
}

.boyut-hamur-section {
    display: flex;
}

.malzeme-not-container {
    display: flex;
    flex-direction: column;
}

.boyut-section,
.hamur-section {
    flex: 1;
}

.malzeme-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.section-title {
    font-weight: bold;
    text-align: left;
}

.radio-label,
.checkbox-label {
    display: flex;
    align-items: center;
}



.select-input,
.text-input {
    width: 90%;
    padding: 5px;
    border-radius: 5px;

}
.text-input{
    height: 40px;
}

.quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-input{
    width: 100%;
}
.quantity-btn {
    background-color: #FDC913;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

.quantity-btn:hover {
    background-color: #ffdb4d;
}

.quantity-text {
    margin: 0 12px;
    font-size: 18px;
}

.summary-container {
    text-align: left;
    padding: 15px;
    border-radius: 10px;
    width: 200px;

}

.summary-title{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.summary-text {
    font-size: 16px;
    font-weight: bold;
    color: #5F5F5F;
}

.quantity-order-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.total-price {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.order-btn {
    width: 100%;
    background-color: #FDC913;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.order-btn:hover {
    background-color: #ffdb4d;
}

@media (max-width: 768px) {
    #root .siparis-formu{
        height: auto;
    }
    .siparis-header {
        width: 100%;
    }

    .pizza-container {
        width: 85%;
    }
    .pizza-title {
        font-size: 1.5rem;
    }

    .pizza-price {
        font-size: 1.2rem;
    }

    .pizza-description {
        font-size: 1rem;
    }

    .boyut-hamur-section {
        flex-direction: column;
    }


    .quantity-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .summary-container {

        text-align: center;
    }

    .order-btn {
        font-size: 16px;
        padding: 10px;
    }
}